@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap");
:root {
	--gradient: linear-gradient(
			45deg,
			aqua,
			rgb(122, 235, 122),
			rgb(221, 45, 45),
			rgb(241, 241, 95),
			rgb(80, 164, 248)
		)
		1;
	--color-primary: #ab79d6;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: var(--color-primary);
	background-color: #1e293b;
	font-family: "Nunito", sans-serif;
}
.mainContainer {
	width: max(60rem, 90%);
	height: 100vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.mainHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem;
}
.mainHeader h1 {
	letter-spacing: 2px;
}
.formContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
	border-bottom: 5px solid;
	border-image: var(--gradient);
}
.formSection {
	display: flex;
	align-items: center;
	gap: 2rem;
}

input {
	padding: 1rem;
	border-radius: 1rem;
	font-size: 1rem;
	letter-spacing: 1px;
}

label {
	font-size: 1.2rem;
}
.addBook {
	justify-self: center;
	padding: 0.8rem 1rem;
	background: none;
	color: var(--color-primary);
	border-image: var(--gradient);
}
.showCase {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	width: 70%;
}
table {
	border-collapse: collapse;
	width: 100%;
}
th,
td,
tr {
	/* border: 1px solid; */
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	font-size: 1.2rem;
}

td,
th {
	width: 30%;
}
th {
	border-top: 1px solid;
	border-bottom: 1px solid;
}
td {
	color: #99f6e4;
}
.cancel {
	text-decoration: none;
	color: white;
	padding: 0.5rem 0.8rem;
	border-radius: 0.5rem;
	background-color: red;
	margin: auto;
}
